.login-content {
  background-color: #FFF; 
  padding: 64px 64px; 
  border-radius: 15px;
}

.xten-logo {
  width: 300px;
}

.img-factory {
  padding-top: 50px;
  min-width: 800px;
  max-width: 900px;
}