<div class="row">
  <!-- TOP ICON TEXT -->
  <div class="col">
    <div class="row">
      <div class="col-auto">
        <div class="top-icon">
          <i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col p-0 align-self-center">
        <p *ngIf="path.energyDashboard" class="color-white mb-0">Energy - Dashboard</p>
        <p *ngIf="path.energyExplore" class="color-white mb-0">Energy - Explore</p>
        <p *ngIf="path.energyPowerQuality" class="color-white mb-0">Energy - Power Quality</p>
        <p *ngIf="path.energyPowerQualityAllMeter" class="color-white mb-0">Energy - Power Quality All Meter</p>
        <p *ngIf="path.energyReport" class="color-white mb-0">Energy - Report</p>
        <p *ngIf="path.energySettingGroupSensor" class="color-white mb-0">Energy - Setting Group Sensor</p>
        <p *ngIf="path.energySettingNotification" class="color-white mb-0">Energy - Setting Group Notification</p>
        <!-- <p class="color-white mb-0">Energy - Dashboard</p> -->
      </div>
    </div>
  </div>
  <div class="col-auto align-self-center">
    <p class="color-white mb-0">Jan 25, 2022, 9:00:51 PM</p>
  </div>
  <div class="col-auto align-self-center pl-2">
    <i class="fa fa-th fa-lg color-white" aria-hidden="true"></i>
  </div>
  <div class="col-auto align-self-center pl-2">
    <i class="fa fa-bell fa-lg color-white" aria-hidden="true"></i>
  </div>
  <div class="col-auto align-self-center pl-2">
    <i class="fa fa-user-circle fa-lg color-white" aria-hidden="true"></i>
  </div>
</div>
