<div class="modal-sidebar">
  <div class="text-right">
    <button type="button" class="btn btn-sidebar-x">
      <img class="sidebar-arrow-right" src="../../assets/img/XIcon.svg">
    </button>
  </div>
  <img class="xten-logo" style="position: absolute; top: 70px; left: 85px;" src="../../assets/img/Google_2015_logo.svg">
  
  <div style="margin-top: 120px;">
  <div class="row">
    <div class="col-auto">
      <div class="top-icon sidebar-icon">
        <i class="fa fa-pie-chart fa-lg color-white" style="margin-left: -3px;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col pl-0 align-self-center">
      <p class="color-white mb-0">Dashboard</p>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-auto">
      <div class="top-icon sidebar-icon">
        <i class="fa fa-bolt fa-lg color-white" style="margin-left: 3px;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col pl-0 align-self-center">
      <p class="color-white mb-0">Power Quality</p>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-auto">
      <div class="top-icon sidebar-icon">
        <i class="fa fa-search fa-lg color-white" style="margin-left: -3px;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col pl-0 align-self-center">
      <p class="color-white mb-0">Explore</p>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-auto">
      <div class="top-icon sidebar-icon">
        <i class="fa fa-area-chart fa-lg color-white" style="margin-left: -4px;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col pl-0 align-self-center">
      <p class="color-white mb-0">Report</p>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-auto">
      <div class="top-icon sidebar-icon">
        <i class="fa fa-wrench fa-lg color-white" style="margin-left: -2px;" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col pl-0 align-self-center">
      <p class="color-white mb-0">Setting</p>
    </div>
  </div>
</div>
  <img class="xten-logo" style="position: absolute; bottom: 60px; left: 85px;" src="../../assets/img/logo-Transparent-color.svg">
</div>
