/* SIDEBAR */
.sidebar-content {
  width: 100px;
  height: 100vh;
  padding: 15px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* RIGHT-CONTENT */
.right-content {
  height: 100vh;
  margin-left: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 16px;
}

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media only screen and (max-width: 768px) {
  /* SIDEBAR */
  .sidebar-content {
    display: none;
  }
  
  /* END RIGHT-CONTENT */
  .right-content {
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
/* END MEDIUM DEVICES (TABLETS, 768PX AND UP) */

/* SMALL DEVICES (LANDSCAPE PHONES, 576PX AND UP) */
@media only screen and (max-width: 480px) {
  /* SIDEBAR */
  .sidebar-content {
    display: none;
  }

  /* END RIGHT-CONTENT */
  .right-content {
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
/* END SMALL DEVICES (LANDSCAPE PHONES, 576PX AND UP) */