.sidebar {
  height: 100%;
  text-align: center;
  padding-top: 15px;
}

.background-color-dark {
  background-color: #2C2C35;
}

.xten-logo {
  width: 35px;
}

.btn-sidebar-arrow-right {
  width: 40px;
  height: 40px;
  padding: 0px 16px;
  border-radius: 35px;
  text-align: center;
  background-color: #5B78FA;
}

.sidebar-arrow-right {
  height: 18px;
  margin-top: -5px;
}

.sidebar-munu-active {
  background-color: rgba(255, 255, 255, .4); 
  border-radius: 7px; 
  margin-left: 7px;
  margin-right: 7px; 
  width: 54px; 
  height: 54px;
  /* margin-top: -12px;
  margin-bottom: -12px; */
  margin-top: 23px;
  padding-top: 7px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  background-color: #5B78FA; 
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-left_ {
  margin-left: -75px;
}

/* .sidebar-icon-active {
  width: 40px;
  height: 40px;
  background-color: #5B78FA; 
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
} */

/* .sidebar-icon-active {
  width: 40px;
  height: 40px;
  background-color: #5B78FA; 
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
} */
