<!-- MODAL REPORT PRINT -->
<div class="modal fade" id="modalReportPrint" tabindex="-1" role="dialog" aria-labelledby="modalReportPrintTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 15px;">
      <div class="text-center m-4">
        <h5 style="margin-top: 32px;">คุณต้องการพิมพ์รายงาน Environment หรือไม่?</h5>
        <p class="color-dark mb-0">ระบบจะเปิดการพิมพ์เอกสาร Environment</p>
        <div class="row row-margin" style="margin-top: 64px; margin-bottom: 32px; margin-left: 32px; margin-right: 32px;">
          <div class="col col-padding">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
          </div>
          <div class="col col-padding">
            <button type="button" class="btn btn-submit">ตกลง</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>